<?xml version="1.0"?>
<config>
    <modules>
        <Wli_Wishlistnotificationbywli>
            <version>0.1.0</version>
        </Wli_Wishlistnotificationbywli>
    </modules>
    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
  <Wli_Wishlistnotificationbywli before="Mage_Customer">Wli_Wishlistnotificationbywli</Wli_Wishlistnotificationbywli>
                     </modules>
                    <frontName>wishlistnotificationbywli</frontName>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <wishlistnotificationbywli>
                    <file>wishlistnotificationbywli.xml</file>
                </wishlistnotificationbywli>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
           <Wli_Wishlistnotificationbywli before="Mage_Adminhtml">Wli_Wishlistnotificationbywli_Adminhtml</Wli_Wishlistnotificationbywli>
                    </modules>
                </args>
            </adminhtml>
        </routers>	
    </admin> 
    <global>
         <models>
            <wishlistnotificationbywli>
                <class>Wli_Wishlistnotificationbywli_Model</class>
                <resourceModel>wishlistnotificationbywli_mysql4</resourceModel>
            </wishlistnotificationbywli>
            <wishlistnotificationbywli_mysql4>
	            <class>Wli_Wishlistnotificationbywli_Model_Mysql4</class>
	            <entities>
                    <wishlistnotificationbywli>
                        <table>product_price_logs</table>
                    </wishlistnotificationbywli>
                </entities>
            </wishlistnotificationbywli_mysql4>
        </models>
        <resources>
            <wishlistnotificationbywli_setup>
                <setup>
                    <module>Wli_Wishlistnotificationbywli</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wishlistnotificationbywli_setup>
            <wishlistnotificationbywli_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wishlistnotificationbywli_write>
            <wishlistnotificationbywli_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wishlistnotificationbywli_read>
        </resources>
        <blocks>
            <wishlistnotificationbywli>
                <class>Wli_Wishlistnotificationbywli_Block</class>
            </wishlistnotificationbywli>
        </blocks>
        <helpers>
            <wishlistnotificationbywli>
                <class>Wli_Wishlistnotificationbywli_Helper</class>
            </wishlistnotificationbywli>
        </helpers>
    </global>
    <default>
        <notification>
            <general>                
                <allow>1</allow>         
                <content> Hurry! Now price become less of your wished product purchase now. </content>
                <bgcolor>#ffff2e</bgcolor>
                <fontcolor>#000000</fontcolor>
                <fonttype>Times New Roman</fonttype>
                <fontsize>15</fontsize>
            </general>
        </notification>
    </default>
</config>
